mixin nav-content()
  ul
    li: a(href="#") About
    li: a(href="#") Services
    li: a(href="#") Portfolio
    li: a(href="#") Contact

doctype html

html(lang="en")

    head
        meta(charset="UTF-8")
        title starter_kit
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' type='text/css' href='css/style.min.css')

    body
        nav
          .humberger-wrap: span

        +nav-content()

        h1 Hello World!
        p kit starter

        img(src='./img/shutterstock_285469343.jpg')

        script(src="js/main.min.js")
